---
- name: Add name to gitconfig
  ansible.builtin.replace:
    path: "$HOME/.gitconfig"
    regexp: "GITCONFIG_NAME"
    replace: "{{ user_name }}"

- name: Add email to gitconfig
  ansible.builtin.replace:
    path: "$HOME/.gitconfig"
    regexp: "GITCONFIG_EMAIL"
    replace: "{{ user_email }}"