---
- name: Execute command to show hidden files
  ansible.builtin.shell: |
    defaults write com.apple.finder AppleShowAllFiles YES

- name: Relaunch Finder to apply changes
  ansible.builtin.shell: |
    killall Finder


