---
- name: Assert that required variables are defined
  ansible.builtin.assert:
    that:
      - user_name is defined
      - user_email is defined

- import_tasks: homebrew.yaml
  when: run_homebrew_tasks

- import_tasks: ssh.yaml
  when: run_ssh_tasks

- import_tasks: python.yaml
  when: run_python_tasks

- import_tasks: node.yaml
  when: run_node_tasks

- import_tasks: npm.yaml
  when: run_npm_tasks

- import_tasks: ruby.yaml
  when: run_ruby_tasks

- import_tasks: rust.yaml
  when: run_rust_tasks

- import_tasks: vim.yaml
  when: run_vim_tasks

- import_tasks: fonts.yaml
  when: run_fonts_tasks

- import_tasks: git.yaml
  when: run_git_tasks

- import_tasks: terminal.yaml
  when: run_terminal_tasks

- name: Copy dotfiles
  ansible.builtin.copy:
    src: "files/dotfiles/"
    dest: "$HOME/"

- import_tasks: vscode.yaml
  when: run_vscode_tasks

- import_tasks: jetbrains.yaml
  when: run_jetbrains_tasks

- import_tasks: macos.yaml
  when: run_macos_tasks
