---
- name: Check if Rust is already installed
  ansible.builtin.stat:
    path: "$HOME/.cargo/bin/rustup"
  register: rustup_exists

- name: Install Rustup
  ansible.builtin.shell: |
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  become: false
  args:
    creates: "$HOME/.cargo/bin/rustup"
  when: not rustup_exists.stat.exists

- name: Add Rust to PATH for current session
  ansible.builtin.lineinfile:
    path: "$HOME/.zshrc"
    line: 'export PATH="$HOME/.cargo/bin:$PATH"'
    create: yes
  when: not rustup_exists.stat.exists

- name: Install Rust components and tools from defaults
  ansible.builtin.shell: |
    source $HOME/.cargo/env
    cargo install {{ item }}
  args:
    executable: /bin/bash
  loop: "{{ rust_packages | default([]) }}"
  when: rust_packages is defined and rust_packages | length > 0